*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header{
  margin: 20px auto;
}

#result{
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.item{
  width: 100px;
  margin: 10px;
}

#loadmore{
  margin: auto;
  display: none;
  background-color: aquamarine;
  width: 200px;
  padding: 10px;
  border: none;
}

.notification{
  text-align: center;
  margin: auto;
}